/* common */
html,
body {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  width: 700px;
  padding: 0 15px;
}
.cv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

/* header */
.header {
  border-bottom: 1px solid #ededed;
}
.header__body {
  padding: 20px 15px;
}
.header__body h1 {
  font-weight: 700;
}

/* main */
.main {
  height: 100%;
}
.main__body {
  padding: 20px 15px;
}

/* footer */
.footer {
  border-top: 1px solid #ededed;
}
.footer__body {
  padding: 20px 15px;
}
