/* ==== VARIABLES.CSS ==== */

:root {
  --font-color: #333;
  --font-size: 16px;
  --border-color: rgba(200, 200, 200, 0.4);
  --border-radius-main: 8px;
  --bg-main: #ffffff;
  --bg-secondary: rgba(200, 200, 200, 0.1);
}
